.header {
  width: 100%;
  display: flex;
}

.my-photo {
  width: 40%;
}

.my-photo img {
  width: 100%;
}

.header-content {
  width: 60%;
  margin: 20px;
}

section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
}

.active {
  display: block;
  background-color: azure;
  padding: 10px;
}